# Virtual Environment
.venv/
env/
venv/

# Temporary Audio Uploads
temp_*

# Node & Next.js Caches
node_modules/
.next/
out/
build/
.DS_Store

# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Environment Variables / Keys
.env
.env.local
kaggle.json

# Model Weights (Optional: Ignore if file size is > 100MB)
# music_vision_model.pth